body {
  max-width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  width: 100vw;
  padding: 2px;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid grey;
  margin: 0 auto;
}
#logo {
  float: left;
}
.signIn {
  float: right;
}
.container {
  border: 2px dashed seagreen;
  padding: 2%;
  margin: 1% auto;
}
.intro {
  margin: auto;
}
footer {
  width: 100vw;
  border: 2px solid grey;
}

.bolded {
  font-weight: bold;
}
