body {
  width: 80%;
  margin: auto;
}

header {
  width: 100vw;
  padding: 2px;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid grey;
  margin: 0px;
}
#logo {
  float: left;
}
.signIn {
  float: right;
}
.container {
  border: 2px dashed seagreen;
  padding: 2%;
  margin: 1%;
}
.intro {
  margin: auto;
}
footer {
  width: 100vw;
  border: 2px solid grey;
}
