body {
  width: 80%;
  margin: auto;
}
header {
  width: 100%;
  padding: 2px;
  vertical-align: middle;
  display: inline-block;
}
#logo {
  float: left;
}
.signIn {
  float: right;
}
container {
}
.intro {
  margin: auto;
}
footer {
  width: 100%;
}
